.collaboration {
    text-align: center;
    padding: 12px 24px;
    font-size: 12px;
    background-color: #f8fafc;
    color: #94a3b8;
}

.footer-bottom {
    padding: 15px 0;
    background-color: #ffe4e6;
    color: #665b5c;
}

.container, .container-fluid {
    --bs-gutter-x: 3rem;
}

.ft-license {
    font-size: 10px;
}

.text-nowrap a {
    text-decoration: none;
    color: #94a3b8;
}
