.switcher {
  position: fixed;
  margin: auto;
  top: 20px;
  left: 50%;
  translate: -50% 0;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px 10px 12px;
  border: none;
  border-radius: 999px;
  background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
  box-shadow:
    inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
    inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
    inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
    inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
    0px 1px 5px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
    0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
  box-sizing: border-box;
}

.switcher__legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.switcher__track {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.switcher__indicator {
  position: absolute;
  left: -8px;
  top: -4px;
  height: 100%;
  height: calc(100% - 10px);
  width: 84px;
  /* will be overwritten by JS */
  border-radius: 999px;
  background-color: color-mix(in srgb, var(--c-glass) 36%, transparent);
  box-shadow:
    inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
    inset 2px 1px 0px -1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
    inset -1.5px -1px 0px -1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
    inset -2px -6px 1px -5px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
    inset -1px 2px 3px -1px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
    inset 0px -4px 1px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
    0px 3px 6px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
  transform: translateX(4px);
  transition: transform 420ms cubic-bezier(1, 0.0, 0.4, 1), width 420ms cubic-bezier(1, 0.0, 0.4, 1), background-color 400ms cubic-bezier(1, 0.0, 0.4, 1), box-shadow 400ms cubic-bezier(1, 0.0, 0.4, 1);
  pointer-events: none;
  z-index: 0;
}

.switcher__indicator.pulse-left {
  animation: pulse 440ms ease;
  transform-origin: left;
}

.switcher__indicator.pulse-right {
  animation: pulse 440ms ease;
  transform-origin: right;
}

@keyframes pulse {
  0% {
    scale: 1 1;
  }

  50% {
    scale: 1.12 1;
  }

  100% {
    scale: 1 1;
  }
}

.switcher__option {
  --c: var(--c-content);
  position: relative;
  z-index: 1;
  /* above indicator */
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  width: auto;
  /* can stretch; indicator will adapt */
  height: 100%;
  min-height: 50px;
  border-radius: 999px;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 160ms;
  user-select: none;
  display: flex;
}

.switcher__option:hover {
  --c: var(--c-action);
}

.switcher__input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.switcher__icon {
  display: block;
  width: 36px;
  transition: scale 200ms cubic-bezier(0.5, 0, 0, 1);
}

.switcher__option:hover .switcher__icon {
  transform: scale(1.12);
}

.switcher__option:has(.switcher__input:checked) .switcher__icon {
  transform: scale(1);
}


.box {
  padding: 1rem 1.4rem;
  border-top: 4px solid color-mix(in srgb, var(--c-action) 50%, transparent);
  border-radius: .8rem;
  background-color: color-mix(in srgb, var(--c-action) 8%, var(--c-bg));
}

._src_GlassElement_GlassElement_module__box {
  box-shadow: inset 0 0 4px 0px white;
  cursor: pointer;
}
