@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Outfit&display=swap');

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url('https://p-u.popcdn.net/event_details/posters/000/100/593/large/d688fc30fcd34263de52995fba16c882a1df4f03.jpg?1755663174');
}

.card--2 .card__img,
.card--2 .card__img--hover {
    background-image: url('https://nipponhaku.com/wp-content/uploads/2025/07/Mobie-web-nipponhaku-2025.jpg');
}

.card--3 .card__img,
.card--3 .card__img--hover {
    background-image: url('https://scontent.fnak4-2.fna.fbcdn.net/v/t39.30808-6/532999961_122197185242053850_3038957177549682300_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Rm6f5_OgTR8Q7kNvwGaIu6w&_nc_oc=AdlF99ycnxvE3gQBdXWeXjwRr-GREZcv_z2uY5A5edVy3d8WUC7YfpGGlv8Dnamvn1Vy0J18MAWJiO78JDFrYPd3&_nc_zt=23&_nc_ht=scontent.fnak4-2.fna&_nc_gid=4gZ_NXslB6hSdArIDXSVYA&oh=00_AfUR-rztr1Z2KybwoD-7wWdPOvoJNQL9Q0eDS-4BhlzVyg&oe=68AD3F85');
}

:root {
      --c-glass: #bbbbbc;
      --c-light: #fff;
      --c-dark: #000;
      --c-content: #222233;
      --c-action: #2c81f0;
      --c-bg: #E8E8E9;
      --c-section-text:#fc809f;
      --glass-reflex-dark: 1;
      --glass-reflex-light: 1;
      --saturation: 150%;
    --bg-ig: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    }

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Outfit', 'IBM Plex Sans Thai', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100dvh;
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
}

h1, h2, h3, h4, h5 ,h6{
    font-family: 'Outfit';
}

section{
    padding: 80px 20px;
    background-color: #fff0fd;
}

#home{
    padding: 0;
    height: 100vh;
    background-color: #ffffff00;
}

.h-sec{
    color: var(--c-section-text) !important;
    font-weight: 700 !important;
}

.t-center{
    text-align: center !important;
}

.hero {
    overflow: hidden;
    display: grid;
    align-items: end;
    transition: .3s;
    min-height: 600px;
    height: 100vh;
}

.hero-video, .video-bg {
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
    object-fit: cover;
    z-index:-1;
}


.ht-1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

.ht-2{
    color: var(--c-light);
    margin-bottom: 5rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400 !important;
}

.ht-2 strong{
    font-weight: 700 !important;
}

.ht-2 h2, .ht-2 p{
    margin: 0;
    font-weight: 400;
}

.h-sec, .e-sec{
    margin-bottom: 1.5rem;
    text-align: center;
}

.e-sec{
    font-size: 1.8rem;
}

.mb-1{
    text-align: center;
    color: var(--c-content);
}

.mb-1 .e-sec{
    margin-bottom: 0;
}

.mb-1 p{
    margin: 0;
}

.cards {
  width:100%;
  max-width:820px;
  display:flex;
  justify-content:center;
}

.carded  {
  max-width:289.25px;
  background:#fff;
  border-radius:12px;
  overflow:hidden;
  position:relative;
  transition: all .4s cubic-bezier(0.175,0.885,0,1);
  box-shadow:0px 13px 10px -7px rgba(0,0,0,0.1);
}

.card__img, .card__img--hover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  height:289.25px;
  border-radius:12px 12px 0 0;
}
.card__img { visibility:hidden; }
.card__img--hover { position:absolute; top:0; transition:0.2s all ease-out; }

.carded:hover .card__img--hover { height:101%; opacity:0.3; background-color: color-mix(in srgb, var(--c-glass) 36%, transparent);
    box-shadow: inset 0 0 0 1px 
 color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent), inset 1.8px 3px 0px -2px 
 color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), inset -2px -2px 0px -2px 
 color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), inset -3px -8px 1px -6px 
 color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), inset -0.3px -1px 4px 0px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent), inset -1.5px 2.5px 0px -2px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 0px 3px 4px -2px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 2px -6.5px 1px -4px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0px 1px 5px 0px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0px 6px 16px 0px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);}
.carded:hover .card__info { background:transparent; position:relative; }
.da-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(289.25px,1fr));
  gap:24px;
  justify-content:center;
  justify-items:center;
  margin-top:3rem;
  color: var(--c-content);
}

.da-sp { padding:1rem; display:flex; flex-direction:column; }
.da-sp h3 { margin:0 0 8px; color:var(--c-content); }

.ct-da { display:grid; grid-template-columns:24px auto;}
.ct-da svg { fill: var(--c-content); width:1.1rem; }
.ct-da p { margin:0; font-size:0.95rem; font-weight:600; color:var(--c-content); }

.da-sp .h5{
    color: var(--c-content);
    font-weight: 800;
}

#info {
    height: calc(100dvh);
    padding: 0 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #ffe9ef;
}

.h-body{
    height: 100%;
}

.br-i{
    color: var(--c-content);
    max-width: 650px;
    display: flex;
    flex-direction: column;
    font-size: 1.16rem;
    font-family: Noto Sans Thai;
    padding: 50px;
    border-radius: 24px;
    background-color: color-mix(in srgb, #f9f9f9 36%, transparent);
    box-shadow: inset 0 0 0 1px 
        color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent), inset 1.8px 3px 0px -2px 
        color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), inset -2px -2px 0px -2px 
        color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), inset -3px -8px 1px -6px 
        color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), inset -0.3px -1px 4px 0px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent), inset -1.5px 2.5px 0px -2px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 0px 3px 4px -2px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 2px -6.5px 1px -4px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0px 1px 5px 0px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0px 6px 16px 0px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);

    h2,p{
        margin: 1rem  ; 
    }
}

.br-i ul li a{
    color: #f177c2;
    text-decoration: none;
}

.pc{
    z-index: 1;
}

.p-body{
    max-width: none !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.p-body {
    display: none;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.bd-info.container {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.br-i ul li{
    text-align: start;
}

.iframe-ig, .iframe-tiktok {
    height: 100%;
    border-radius: 8px;
}

.iframe-ig iframe, .iframe-tiktok iframe, .tiktok-embed {
    margin: 0 auto !important;
    min-width: unset !important;
    max-width: 100% !important;
    border-radius: 8px !important;
    overflow: hidden;
}

.ig-banner{
    padding: 24px;
    background: var(--bg-ig);
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.ig-banner div{
    margin: 0;
    color: var(--c-light);
}

.svg-banner{
    position: absolute;
    transform: rotate(12deg);
    width: 2800px;
    top: 0px;
    width: 25px;

}
