@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Outfit&display=swap');

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url('https://p-u.popcdn.net/event_details/posters/000/100/593/large/d688fc30fcd34263de52995fba16c882a1df4f03.jpg?1755663174');
}

.card--2 .card__img,
.card--2 .card__img--hover {
    background-image: url('https://nipponhaku.com/wp-content/uploads/2025/07/Mobie-web-nipponhaku-2025.jpg');
}

.card--3 .card__img,
.card--3 .card__img--hover {
    background-image: url('https://scontent.fnak4-2.fna.fbcdn.net/v/t39.30808-6/532999961_122197185242053850_3038957177549682300_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Rm6f5_OgTR8Q7kNvwGaIu6w&_nc_oc=AdlF99ycnxvE3gQBdXWeXjwRr-GREZcv_z2uY5A5edVy3d8WUC7YfpGGlv8Dnamvn1Vy0J18MAWJiO78JDFrYPd3&_nc_zt=23&_nc_ht=scontent.fnak4-2.fna&_nc_gid=4gZ_NXslB6hSdArIDXSVYA&oh=00_AfUR-rztr1Z2KybwoD-7wWdPOvoJNQL9Q0eDS-4BhlzVyg&oe=68AD3F85');
}

:root {
      --c-glass: #bbbbbc;
      --c-light: #fff;
      --c-dark: #000;
      --c-content: #222233;
      --c-action: #2c81f0;
      --c-bg: #E8E8E9;
      --c-section-text:#fc809f;
      --glass-reflex-dark: 1;
      --glass-reflex-light: 1;
      --saturation: 150%;
    --bg-ig: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    }

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Outfit', 'IBM Plex Sans Thai', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100dvh;
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
}

h1, h2, h3, h4, h5 ,h6{
    font-family: 'Outfit';
}

section{
    padding: 80px 20px;
    background-color: #fffcff;
}

#home{
    padding: 0;
    height: 100vh;
    background-color: #ffffff00;
}

.h-sec{
    color: var(--c-section-text) !important;
    font-weight: 700 !important;
}

.t-center{
    text-align: center !important;
}

.hero {
    overflow: hidden;
    display: grid;
    align-items: end;
    transition: .3s;
    min-height: 600px;
    height: 100vh;
}

.hero-video, .video-bg {
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
    object-fit: cover;
    z-index:-1;
}


.ht-1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

.ht-2{
    color: var(--c-light);
    margin-bottom: 5rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400 !important;
}

.ht-2 strong{
    font-weight: 700 !important;
}

.ht-2 h2, .ht-2 p{
    margin: 0;
    font-weight: 400;
}

.h-sec, .e-sec{
    margin-bottom: 1.5rem;
    text-align: center;
}

.e-sec{
    font-size: 1.8rem;
}

.mb-1{
    text-align: center;
    color: var(--c-content);
}

.mb-1 .e-sec{
    margin-bottom: 0;
}

.mb-1 p{
    margin: 0;
}

.cards {
  width:100%;
  max-width:820px;
  display:flex;
  justify-content:center;
}

.carded  {
  max-width:289.25px;
  background:#fff;
  border-radius:12px;
  overflow:hidden;
  position:relative;
  transition: all .4s cubic-bezier(0.175,0.885,0,1);
  box-shadow:0px 13px 10px -7px rgba(0,0,0,0.1);
}

.card__img, .card__img--hover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  height:289.25px;
  border-radius:12px 12px 0 0;
}
.card__img { visibility:hidden; }
.card__img--hover { position:absolute; top:0; transition:0.2s all ease-out; }

.carded:hover .card__img--hover { height:101%; opacity:0.3; background-color: color-mix(in srgb, var(--c-glass) 36%, transparent);
    box-shadow: inset 0 0 0 1px 
 color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent), inset 1.8px 3px 0px -2px 
 color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), inset -2px -2px 0px -2px 
 color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), inset -3px -8px 1px -6px 
 color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), inset -0.3px -1px 4px 0px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent), inset -1.5px 2.5px 0px -2px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 0px 3px 4px -2px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 2px -6.5px 1px -4px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0px 1px 5px 0px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0px 6px 16px 0px 
 color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);}
.carded:hover .card__info { background:transparent; position:relative; }
.da-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(289.25px,1fr));
  gap:24px;
  justify-content:center;
  justify-items:center;
  margin-top:3rem;
  color: var(--c-content);
}

.da-sp { padding:1rem; display:flex; flex-direction:column; }
.da-sp h3 { margin:0 0 8px; color:var(--c-content); }

.ct-da { display:grid; grid-template-columns:24px auto;}
.ct-da svg { fill: var(--c-content); width:1.1rem; }
.ct-da p { margin:0; font-size:0.95rem; font-weight:600; color:var(--c-content); }

.da-sp .h5{
    color: var(--c-content);
    font-weight: 800;
}

#info {
    height: calc(100dvh);
    padding: 0 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #fdf2f6;
}

.h-body{
    height: 100%;
}

.br-i{
    color: var(--c-content);
    display: flex;
    flex-direction: column;
    font-size: 1.16rem;
    font-family: Noto Sans Thai;
    padding: 50px;
    border-radius: 24px;
    background-color: color-mix(in srgb, #f9f9f9 36%, transparent);
    box-shadow: inset 0 0 0 1px 
        color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent), inset 1.8px 3px 0px -2px 
        color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), inset -2px -2px 0px -2px 
        color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), inset -3px -8px 1px -6px 
        color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), inset -0.3px -1px 4px 0px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent), inset -1.5px 2.5px 0px -2px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 0px 3px 4px -2px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 2px -6.5px 1px -4px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0px 1px 5px 0px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0px 6px 16px 0px 
        color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);

    h2,p{
        margin: 1rem  ; 
    }
}

.br-i ul li a{
    color: #f177c2;
    text-decoration: none;
}

.pc{
    z-index: 1;
}

.p-body{
    max-width: none !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.p-body {
    display: none;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.bd-info.container {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.br-i ul li{
    text-align: start;
}

.iframe-ig, .iframe-tiktok {
    height: 100%;
    border-radius: 8px;
}

.iframe-ig iframe, .iframe-tiktok iframe, .tiktok-embed {
    margin: 0 auto !important;
    min-width: unset !important;
    max-width: 100% !important;
    border-radius: 8px !important;
    overflow: hidden;
}

.ig-banner{
    padding: 24px;
    background: var(--bg-ig);
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    position: relative;

}

.tiktok-banner{
    padding: 24px;
    background: var(--c-dark);
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
}

.ig-banner div, .tiktok-banner div{
    margin: 0;
    color: var(--c-light);
}

.svg-banner{
    position: relative; 
    transform: rotate(12deg);
    width: 2800px;
    top: 0px;
    width: 25px;
}

.embed-row {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 15px 0;
    gap: 25px;
    overflow: hidden;
    display: flex;
}

.embed   {
    width:50%; 
    margin-bottom: 20px;
    background-color: var(--c-light);
    border-radius: 12px;
}

.iframe-instagram, .iframe-tiktok {
    width: 100%;
    background-color: var(--c-light);
    border-radius: 0 0 12px 12px;
}

.instagram-media{
    border-radius: 0 0 12px 12px !important; 
    display: block; 
    width: 100%; 
    max-height: 494px;
}

.embed-ig, .embed-tiktok{
    width: 100%;
}

.embed-ig iframe{
    min-width: 0 !important;
}

.arrow-svg {
    transform: rotate(-45deg);
    height: 1em;
    vertical-align: -0.125em;
}

.icon-overlay{
    position: absolute;
    top: 16px;
    right: 12px;
    width: 100px;
    height: 100px;
    transform: rotate(-12deg);
    opacity: .2;
    transition: .3s;
}

.icon-svg{
    fill: var(--c-light);
    height: 1em;
    vertical-align: -0.125em;
}

.icon-wrap {
    position: relative;
    display: inline-block;
}

.icon-svg {
    height: 1em;
    vertical-align: -0.125em;
    fill: var(--c-light);
    transition: all 0.4s ease;
}

/* ตัวหลัง */
.icon-svg.back, .svg-inline--fa.back {
    position: absolute;
    opacity: 0;
    z-index: 0;
}

/* ตัวหน้า */
.icon-svg.front,.svg-inline--fa.front {
    position: relative;
    z-index: 1;
}

.ig-banner:hover, .tiktok-banner:hover{
    opacity: 0.9;
    transition: 0.4s ease;
}

.social-box:hover .svg-inline--fa.back{
    opacity: 0.3;
    transform: scale(2) rotate(15deg) translateX(9.5rem) translateY(-1.9rem);
    transition: 0.3s;
}

.social-box:hover .fa-iam48.back{
    opacity: 0.3;
    transform: scale(2) rotate(30deg) translateX(8.5rem) translateY(-3.7rem);
    transition: 0.3s;
}

.ig-banner:hover .icon-svg.back, .tiktok-banner:hover .icon-svg.back{
    opacity: 0.3;
    transform: scale(5.6) rotate(15deg) translateX(5.5rem) translateY(-0.8rem);
}

@media (max-width: 1400px) {
    .ig-banner:hover .icon-svg.back, .tiktok-banner:hover .icon-svg.back{
        transform: scale(5.6) rotate(15deg) translateX(4.5rem) translateY(-0.7rem);
    }

    .social-box:hover .svg-inline--fa.back{
        transform: scale(2) rotate(15deg) translateX(8.5rem) translateY(-1.7rem);
        transition: 0.3s;
    }

    .social-box:hover .fa-iam48.back{
        transform: scale(2) rotate(30deg) translateX(7.5rem) translateY(-3.4rem);
        transition: 0.3s;
    }
}

.social-box.-instagram {
    --bg: linear-gradient(45deg, rgba(240, 148, 51, .15) 0%, rgba(230, 104, 60, .15) 25%, rgba(220, 39, 67, .15) 50%, rgba(204, 35, 102, .15) 75%, rgba(188, 24, 136, .15) 100%);
    --text: #dc2743;
    --bg-hover: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    --text-hover: #fff;
}

.social-box.-facebook {
    --bg: rgba(24, 119, 242, .15);
    --text: #1877F2;
    --bg-hover: #1877F2;
    --text-hover: #fff;
}

.social-box.-iam48{
    --bg: linear-gradient(45deg, rgba(203, 150, 194, .15) 0%, rgba(104, 190, 177, .15) 100%);
    --text: rgb(203, 150, 194);
    --bg-hover: linear-gradient(45deg, rgba(203, 150, 194) 0%, rgba(104, 190, 177) 100%);
    --text-hover: #fff;
}

.social-box.-tiktok, .social-box.-twitter {
    --bg: #ebebeb;
    --text: #000;
    --bg-hover: #000;
    --text-hover: #fff;
}

.social-box {
    --bg: #f6f7fa;
    --text: #000;
    --bg-hover: #000;
    --text-hover: #fff;
    padding: 15px 20px;
    border-radius: 1000px;
    background: var(--bg);
    color: var(--text);
    font-size: 1.125rem;
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 700;
    margin-bottom: 1rem;
    transition: 0.3s;
    position: relative;
    overflow: hidden; 
}

.social-box:hover {
    background: var(--bg-hover);
    color: var(--text-hover);
    text-decoration: none;
}

a:hover {
    color: var(--w-accent-hover);
    text-decoration: underline;
}

.social-box svg {
    width: 50px;
    height: 50px;
    fill: var(--text);
}

.svg-inline--fa {
    box-sizing: content-box;
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    width: var(--fa-width, 1.25em);
}

.social-box.-iam48 svg path {
    fill: var(--text);
    transition: 0.3s;
}

.social-box.-iam48:hover svg path {
    fill: var(--text-hover);
}

.social-margin{
    margin-bottom: 0 !important;
}

.svg-inline--fa.back {
    position: absolute;
    opacity: 0;
    z-index: 0;
}
.svg-inline--fa.front {
    position: relative;
    z-index: 1;
}

.spaceFrame {
  aspect-ratio: 3 / 4;
  overflow: hidden;
  position: relative;
  animation: fadeEffect 1s;
  border-radius: 12px;
  min-height: 241.5px;
  min-width: 210px;
}

.item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
  overflow: hidden;
}

.transparent-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 15px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  color: #ffffff;
}

.caption p {
  margin: 0;
  font-weight: 500;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

/* Hover Effect */
.item:hover {
  transform: scale(1.08);
  cursor: pointer;
  border-radius: 12px;
}

.item:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.item:hover .caption {
  transform: translateY(-10px);
  opacity: 1;
}

/* Fade-in effect */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.live-row{ 
    flex-wrap: nowrap !important; 
    overflow-x: hidden; 
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.date p {
    margin: 0;
}

.item {
    position: relative;
    
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0); /* เริ่มต้นโปร่งใส */
    transition: background-color 0.3s ease;
}

/* เวลา hover item ให้ overlay มืดลง */
.item:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
}

.date {
    position: absolute;
    bottom: 50px;
    left: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: #ffffff;
    z-index: 1;
}

/* เวลา hover ให้โผล่ + เลื่อนกลับขึ้น */
.item:hover .date {
    opacity: 1;
}

.l-1200 {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important; /* 3 คอลัมน์ */
    grid-template-rows: repeat(2, 1fr) !important;   /* 2 แถว */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@media (max-width: 1200px) {
    #info{
        height: 100%;
        padding: 80px 20px;
    }

    .bd-info.container {
        flex-direction: column;
        margin: 0 auto;
        border-radius: 12px;
        text-align: center;
    }

    .container{
        max-width: 720px !important;
    }

    .h-body {
        display: none;
    }

    .br-i {
        padding: 90px 50px 50px;
        margin-top: -75px;
    }

    .p-body {
        display: block;
    }

    .embed-row,.row{
        flex-direction: column;
    }

    .embed,.col-lg-4{
        width: 100% !important;
    }

    .social-box:hover .svg-inline--fa.back{
        transform: scale(2) rotate(15deg) translateX(17rem) translateY(-3.9rem);
    }

    .social-box:hover .fa-iam48.back{
        transform: scale(2) rotate(30deg) translateX(16rem) translateY(-8.3rem);
    }

    .ig-banner:hover .icon-svg.back, .tiktok-banner:hover .icon-svg.back{
        transform: scale(5.6) rotate(15deg) translateX(6rem) translateY(-1.1rem);
    }
}
